@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

 *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
 }
 body {
    
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 


.home{
    padding-bottom: 70px;
    
}
.home .logo{
    width: 200px;
    display: block;
    margin: 0 auto;
    transform: translateY(-7rem);
}
 .home h1{
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;

 }
hr{
    margin: 20px;
}

.home .content{
    line-height: 40px;
    text-align: left;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #fff;
}

.home .rawpaper{
    width: 800px;
    z-index: 1;
}


.home .content span{
    font-size: 4rem;
}

.home .content h2{
    text-decoration: underline;
    text-align: center;
    
    
    
}
.home .greet {
    
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 0;
    padding-top: 20rem;
    margin-bottom: -200px;
    overflow: visible;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    
}

.home .msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    
}



.home .greet .salute{
    transform: translateY(-8rem);
    font-size: 20px;
    z-index: 2;
}


.texto-imagen-container img{
    display: flex;
    width: 200px;
    height: 250px;
}



 

.texto-imagen-container{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  position: absolute;
  padding-top: 13rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: tracking-in-expand 5s ease-out both;

}

.home .profes{
color:  #464752 ;
text-align: right;
font-size: 40px;
    
    
}

 .proyecto-literario {
    background-image: url(../imagenes/explosion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-wrap: wrap;
  animation: cambioFondo 20s linear infinite, kenburns-top 20s linear infinite;
  transition: background-image 15s ease;  
  z-index: 1;
  overflow: hidden;
}

@keyframes cambioFondo {
    0%, 100% {
        opacity: 1;
      }
      25%, 75% {
        opacity: 0; 
      }
    0%, 100% {
      background-image: url(../imagenes/barco.jpg);
    }
    33.33% {
      background-image: url(../imagenes/colors.jpg);
      opacity: 1;
    }
    66.66% {
      background-image: url(../imagenes/colors2.jpg);
      
    }
  }
  


/* ----------------------------------------------
 * Generated by Animista on 2023-11-29 10:40:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  



/* ----------------------------------------------
 * Generated by Animista on 2023-11-28 13:29:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  


.imagen-container {
    margin-left: 20px; /* Ajusta la cantidad de espacio entre el texto y la imagen según tus preferencias */
}

/* Estilos adicionales según sea necesario */


.parallax {
    background-image: url('../imagenes/biblio.jpg');
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    height: auto;
    overflow: hidden;
    
}

.parallax-inner {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20rem;
    padding: 20px;
    width: auto;
    z-index: 1;
}

.parallax-inner .content{
    color: black;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    padding-bottom: 10px;
}



.parallax-inner .content h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.content {
    background-color: #fffae4;
    padding-top: 15rem;
    text-align: center;
    border-radius: 5px;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.home .proyecto-literario{
    height: 700px;
}


.home .container .lottie{
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 450px;
}

.home .container .salute{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive; ;
    font-size: 3rem;
    margin-left: 300px;
    margin-right: 300px;
}
.home .container{
    height: 100%;
}



.greet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh; /* Ajusta según tus necesidades o el contenido real de .greet */
  }
  
  .rawpaper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%); /* Centra la imagen */
    z-index: 1;
  }
  .lottie,
  .salute,
  .logo {
    position: relative; /* O ajusta según sea necesario */
    z-index: 2; /* Coloca los elementos sobre la imagen */
  }
/* Añade estilos adicionales según tus necesidades */

















@media only screen and (max-width: 480px) {

    

    .home .greet {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10rem;
        margin-bottom: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        
        
        
    }

    .home .greet .msg h2 {
        font-size: 25px;
        width: 100%;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 9rem;
        padding-right: 9rem;
        
        
    }

    .proyecto-literario{
      overflow: hidden;
    }

    .parallax-inner {
        padding: 10px; /* Ajusta según sea necesario para el espacio interior */
    }

    .parallax-inner .content{
        width: 100%;
    }

    .parallax-inner .content p {
        font-size: 20px;
    }

    .texto-imagen-container img{
        max-width: 100%;
    }
    
    .container{
        max-height: 100%;
    }

    .greet .rawpaper{
        width: 80%;
    }
}