@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

 *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
 }
 body {
    
  margin: 0;
  padding: 0;
  
}
 


.home{
    padding-bottom: 70px;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      
   
    
}
.home .logo{
    width: 200px;
    display: block;
    margin: 0 auto;
    transform: translateY(-7rem);
}
 .home h1{
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;

 }
hr{
    margin: 20px;
}

.home .contentinit{

    line-height: 40px;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fff;
}

.home .rawpaper{
    width: 800px;
    z-index: 1;
}


.home .contentinit span{
    font-size: 4rem;
}

.home .contentinit h2{
    
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 25rem;
    line-height: 5rem;
    
    
    
    
}
.home .greet {
    
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 0;
    padding-top: 20rem;
    margin-bottom: -200px;
    overflow: visible;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50vh;
    
}

.home .msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    
}



.home .greet .salute{
    transform: translateY(-8rem);
    font-size: 20px;
    z-index: 2;
}


.texto-imagen-container img{
    display: flex;
    width: 200px;
    max-width: 100%;
   height: auto;
}

.contentinit {
  opacity: 0; /* Inicialmente oculto */
  transform: translateX(-100%); /* Inicialmente fuera de la pantalla a la izquierda */
  transition: opacity 2s ease, transform 1s ease;
}

.contentinit.show {
  opacity: 1;
  transform: translateX(0); /* Mostrar deslizándose desde la izquierda */
}


 

.texto-imagen-container{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 2;
  position: absolute;
  padding-top: 13rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: tracking-in-expand 5s ease-out both;

}

.home .profes{
color:  #464752 ;
text-align: right;
font-size: 40px;
    

}

 .proyecto-literario {
    background-image: url(../imagenes/explosion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-wrap: wrap;
  animation: cambioFondo 20s linear infinite, kenburns-top 20s linear infinite;
  transition: background-image 15s ease;  
  z-index: 1;
  overflow-x: hidden;
  overflow: hidden;
}

@keyframes cambioFondo {
    0%, 100% {
        opacity: 1;
      }
      25%, 75% {
        opacity: 0; 
      }
    0%, 100% {
      background-image: url(../imagenes/barco.jpg);
    }
    33.33% {
      background-image: url(../imagenes/colors.jpg);
      opacity: 1;
    }
    66.66% {
      background-image: url(../imagenes/colors2.jpg);
      
    }
  }
  


/* ----------------------------------------------
 * Generated by Animista on 2023-11-29 10:40:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.02) translateY(-15px);
              transform: scale(1.02) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.02) translateY(-15px);
              transform: scale(1.02) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  



/* ----------------------------------------------
 * Generated by Animista on 2023-11-28 13:29:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  


.imagen-container {
    margin-left: 20px; /* Ajusta la cantidad de espacio entre el texto y la imagen según tus preferencias */
}

/* Estilos adicionales según sea necesario */


.parallax {
    background-image: url('../imagenes/biblio.jpg');
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  
    
}
.parallax-cuentos {
  background-image: url('../imagenes/biblio.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax2 {
  background-image: url('../imagenes/land2.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax14 {
  background-image: url('../imagenes/thiago.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax4 {
  background-image: url('../imagenes/valen.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax5 {
  background-image: url('../imagenes/jaz.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax6 {
  background-image: url('../imagenes/santi.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax7 {
  background-image: url('../imagenes/feli.jpeg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax8 {
  background-image: url('../imagenes/kiaram.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax9 {
  background-image: url('../imagenes/isa.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax10 {
  background-image: url('../imagenes/martina.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax11 {
  background-image: url('../imagenes/gabi.png');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax12{
  background-image: url('../imagenes/marcos.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax13{
  background-image: url('../imagenes/agus.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax15{
  background-image: url('../imagenes/benicio.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax16{
  background-image: url('../imagenes/nachoc.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}
.parallax17{
  background-image: url('../imagenes/nachoc2.jpg');
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;

  
}

.bg {
  background: url(https://i.ibb.co/87GbbFP/2799006.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -3;
}
.bg:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0.3;
}
@keyframes sf-fly-by-1 {
  from {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(0);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-2 {
  from {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-600px);
      opacity: 0.5;
  }
}
@keyframes sf-fly-by-3 {
  from {
      transform: translateZ(-1800px);
      opacity: 0.5;
  }
  to {
      transform: translateZ(-1200px);
      opacity: 0.5;
  }
}
.star-field {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 600px;
  -webkit-perspective: 600px;
  z-index: -1;
}
.star-field .layer {
  box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
      524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
      440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
      -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
      -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
      828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
      624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
      563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
      -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
      -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.star-field .layer:nth-child(1) {
  animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
  animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
  animation: sf-fly-by-3 5s linear infinite;
}











.banner {
  color: #fff;
  height: 300px;
  text-align: center;
  font-size: 5rem;
  background-image: url(../imagenes/rrrainbow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(23, 32, 42, 1); /* Fondo con efecto de vidrio */
    backdrop-filter: blur(10px); /* Difuminar el fondo para el efecto de vidrio */
  display: flex;
  align-items: center;
  justify-content: center;
}

 

.parallax-inner {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20rem;
    padding: 20px;
    width: 100%;
    z-index: 1;
}

.parallax-inner .content{
  margin: 2em auto;
  overflow: hidden;
  padding: 1em 1.5em;
  position: relative;
  color: black;
  text-align: center;
  width: 60%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  padding-bottom: 10px;
  padding-top: 7rem;
  
}

.parallax-inner .content:before {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  background: none repeat scroll 0 0  rgba(255, 255, 255, 0)
; /* color esquina */
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0)   #cb9963 
  #d5af87
; /* color de borde */
  border-style: solid;
  border-width: 0 36px 36px 0;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  
}




.parallax-inner .content h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

.content {
    background-color: #fffae4;
    padding-top: 15rem;
    text-align: center;
    border-radius: 5px;
  
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

.home .proyecto-literario{
    height: 700px;
}


.home .container .lottie{
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 450px;
}

.home .container .salute{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive; ;
    font-size: 3rem;
    margin-left: 300px;
    margin-right: 300px;
}
.home .container{
    height: 100%;
}



.greet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170vh; /* Ajusta según tus necesidades o el contenido real de .greet */
  }
  
  .rawpaper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%); /* Centra la imagen */
    z-index: 1;
  }
  .lottie,
  .salute,
  .logo {
    position: relative; /* O ajusta según sea necesario */
    z-index: 2; /* Coloca los elementos sobre la imagen */
  }
/* Añade estilos adicionales según tus necesidades */



.flipcards{
  margin-top: 10rem;
  display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 3px;
grid-row-gap: 3px;

}
.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }
.div6 { grid-area: 2 / 4 / 3 / 5; }
.div7 { grid-area: 3 / 2 / 4 / 3; }
.div8 { grid-area: 3 / 3 / 4 / 4; }
.div9 { grid-area: 3 / 4 / 4 / 5; }
.div10 { grid-area: 4 / 2 / 5 / 3; }
.div11 { grid-area: 4 / 3 / 5 / 4; }
.div12 { grid-area: 4 / 4 / 5 / 5; }
.div13 { grid-area: 5 / 2 / 6 / 3; }
.div14 { grid-area: 5 / 3 / 6 / 4; }
.div15 { grid-area: 5 / 4 / 6 / 5; } 
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}





















































@media only screen and (max-width: 480px) {

    

  .home .content h2{
    line-height: 5rem;
  }
.banner{
  overflow: hidden;
}
    .home .greet {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10rem;
        margin-bottom: 0;
        background-size: 100%;
        background-repeat: no-repeat;
        overflow-x: hidden;
        
        
        
    }
    .home .greet .lottie{
      width: 300px;
    }

    .home .greet .msg h2 {
        font-size: 25px;
        width: 100%;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 9rem;
        padding-right: 9rem;
        
        
    }

    .home .rawpaper{
      width: 300px;
      
    }

    .parallax{
      overflow-x: hidden;
    }

    .proyecto-literario{
      overflow: hidden;
    }

    .parallax-inner {
        padding: 10px; /* Ajusta según sea necesario para el espacio interior */
    }

    .parallax-inner .content{
        width: 100%;
    }

    .parallax-inner .content p {
        font-size: 20px;
    }

    .texto-imagen-container img{
        max-width: 100%;
    }
    
    .container{
        max-height: 100%;
    }

    .greet .rawpaper{
        width: 80%;
    }

    @-webkit-keyframes kenburns-top {
      0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
      }
      100% {
        -webkit-transform: scale(1) translateY(-15px);
                transform: scale(1) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
      }
    }
    @keyframes kenburns-top {
      0% {
        -webkit-transform: scale(1) translateY(0);
                transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
                transform-origin: 50% 16%;
      }
      100% {
        -webkit-transform: scale(1) translateY(-15px);
                transform: scale(1) translateY(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
      }
    }
    .flipcards{
      overflow-x: hidden;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
}